@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb-bg: #888;
  --scrollbar-thumb-bg-hover: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --scrollbar-bg: #333;
    --scrollbar-thumb-bg: #555;
    --scrollbar-thumb-bg-hover: #888;
  }
}

body {
  background-color:#333;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-glass {
background: rgba(255, 255, 255, 0.47);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
border: 1px solid rgba(255, 255, 255, 0.3);
}